<div id="container" class="container">

<!-- <a href='https://www.indeed.com/q-Software-Developer-jobs.html'>Developer Jobs</a> -->


<div class="row">

     <nav class="navbar navbar-default">
       <div class="container-fluid">
        <div class="navbar-header">
          {{#link-to 'index' class="navbar-brand"}}Ask developer{{/link-to}}
        </div>

         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
           <ul class="nav navbar-nav">
             <li class="active">{{#link-to 'questions'}}Questions{{/link-to}}</li>
            <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
            <li><a target="_blank" href='https://www.indeed.com/q-Software-Developer-jobs.html'>Developer Jobs</a></li>
            <li><a target="_blank" href='https://www.linkedin.com/'>Linkedin</a></li>


           </ul>



         </div>
       </div>
     </nav>
     <div class="container">
     {{outlet}}
     </div>



   </div>
 </div>
  <div id="footer" class="container">
       <p>{{fa-icon "hand-peace-o"}} by Anna Kuznetsova, 2017</p>


</div>
