<div id="ask">
   <button type="button" class="btn btn-default">{{#link-to 'ask-question'}}Ask question{{/link-to}}</button>
</div>

<div id="questions">
  <ul>
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </ul>
</div>
